html {
    overflow:hidden;
    height: 100%;
}

body { 
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #37474F;
    background-color: #EEEEEE;
}
